.infoBox {
    flex: 1;    /*take as much room as possible*/
    cursor: pointer;
  }
  
  .infoBox:not(:last-child) { 
    margin-right: 60px; 
  }
  
  .infoBox--selected {
    border-top: 10px solid lightgreen;
  }
  
  .infoBox--red {
    border-color: red; /* will override border-top: color above */
  }
  
  .infoBox__cases--green {
    color: green !important; /* override material UI style */
  }

  .infoBox__cases {
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }
  
  .infoBox__total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.9rem !important;
    margin-top: 15px !important;
  }